@mixin flex_row_aic_jcc {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@mixin flex_col_aic_jcc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
