.headerContainier {
	position: relative;
	width: 100%;
}

.headerImg {
	width: 100%;
	height: 200px;
	color: var(--White);
	text-transform: uppercase;
}

.card {
	padding: 15px;
	height: 150px;
	width: 280px;
	background-size: cover;
	color: var(--White);
	border: none;
	border-radius: 5px;
	box-shadow: 43px 42px 66px -31px rgba(66, 68, 90, 0.582);
}

.card_front {
	position: absolute;
	top: 107px;
	left: 40%;
	background-image: url(../../assets/images/bg-card-front.png);
	z-index: 1;
	transform: translate(-50%);
}
.card_back {
	position: absolute;
	top: 20px;
	left: 60%;
	background-image: url(../../assets/images/bg-card-back.png);
	z-index: 0;
	transform: translate(-50%);
}
.card_logo {
	position: relative;
	top: 0px;
	left: 0px;
	width: 40px;
}
.card_details {
	position: relative;
	top: 30%;
}
.card_number {
	display: block;
	width: 100%;
	letter-spacing: 3px;
}
.card_holder {
	margin-top: 15px;
	width: 95%;
	font-size: 0.7rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.cvc {
	position: relative;
	height: 1rem;
	width: 2rem;
	left: 200px;
	top: 52px;
	font-size: 0.7rem;
}

@media (min-width: 992px) {
	.headerImg {
		width: 100%;
		height: 100vh;
		z-index: -1;
	}
	.card {
		transform: scale(120%);
	}
	.card_front {
		top: 23%;
		right: 0;
		left: 65%;
	}
	.card_back {
		top: 55%;
		right: 0;
		left: 80%;
	}
	.headerContainier {
		height: 96vh;
		width: 20vw;
	}
}
